<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Панель администратора</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<div class="container">
    <h1>Панель администратора</h1>
    <button><a href="/tasks/create">Создать новую задачу</a></button>

    <div th:if="${param.error}" th:text="${param.error}" style="color: red;"></div>

    <form action="/api/adminPanel/delete" method="post" class="delete-form">
        <label for="taskId">Введите ID задачи для удаления:</label>
        <input type="number" id="taskId" name="taskId" required>
        <button type="submit">Удалить задачу</button>
    </form>

    <form action="adminPanel/filterExecutor" method="post" class="filter-form">
        <label for="executorId">Выберите пользователя для фильтрации:</label>
        <select  id="executorId" name="executorId" required>
            <option value="">-- Выберите пользователя --</option>
            <option th:each="executor : ${executors}" th:value="${executor.id}" th:text="${executor.name}"></option>
        </select>
        <button type="submit">Фильтровать</button>
    </form>

    <form action="/adminPanel/filterAdmin" method="post" class="filter-form">
        <label for="adminId">Выберите админа для фильтрации:</label>
        <select  id="adminId" name="adminId" required>
            <option value="">-- Выберите админа --</option>
            <option th:each="admin : ${admins}" th:value="${admin.id}" th:text="${admin.name}"></option>
        </select>
        <button type="submit">Фильтровать</button>
    </form>

    <form th:if="${filtered}" action="/adminPanel" method="get">
        <button type="submit">Отменить фильтрацию</button>
    </form>

    <table id="taskTable" class="task-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Заголовок</th>
            <th>Описание</th>
            <th>Статус</th>
            <th>Приоритет</th>
            <th>Автор</th>
            <th>Исполнитель</th>
            <th>Комментарии</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${tasks}">
            <td th:text="${task.id}"></td>
            <td th:text="${task.header}"></td>
            <td th:text="${task.description}"></td>
            <td th:text="${task.status}"></td>
            <td th:text="${task.priority}"></td>
            <td th:text="${task.author.getUsername()}"></td>
            <td th:text="${task.executor.getUsername()}"></td>
            <td>
                <a th:href="@{/adminPanel/editTask/{id}(id=${task.id})}">Редактировать</a>
            </td>
            <td>
                <span th:each="comment : ${task.comment}" th:text="${comment.comment} + ' '"></span>
            </td>
            <td>
                <form action="/api/adminPanel/addComment" method="post" class="add-comment-form">
                    <input type="hidden" name="commentTaskId" th:value="*{task.id}">
                    <textarea name="commentText" placeholder="Введите комментарий" required></textarea>
                    <button type="submit">Добавить комментарий</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="pagination">
        <form action="/adminPanel" method="get" class="pagination-form">
            <input type="hidden" name="page" th:value="${currentPage - 1}" />
            <input type="hidden" name="size" th:value="${size}" />
            <input type="hidden" name="executorId" th:value="${executorId != null ? executorId : ''}" />
            <input type="hidden" name="adminId" th:value="${adminId != null ? adminId : ''}" />
            <button type="submit" th:if="${currentPage > 0}">Предыдущая</button>
        </form>

        <span>Страница <span th:text="${currentPage + 1}"></span> из <span th:text="${totalPages}"></span></span>

        <form action="/adminPanel" method="get" class="pagination-form">
            <input type="hidden" name="page" th:value="${currentPage + 1}" />
            <input type="hidden" name="size" th:value="${size}" />
            <input type="hidden" name="executorId" th:value="${executorId != null ? executorId : ''}" />
            <input type="hidden" name="adminId" th:value="${adminId != null ? adminId : ''}" />
            <button type="submit" th:if="${currentPage < totalPages - 1}">Следующая</button>
        </form>
    </div>



</div>

</body>
</html>
